{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link href="//fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap"rel="stylesheet">
<link
    href="//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<!-- //google-fonts -->
<!-- Template CSS Style link -->
<link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
</head>
<body>
    <center>
    <div class="form-inner-cont mx-auto" style="max-width:800px">
        <h3 class="title-style text-center mb-4">LogIn</h3>
        <form action="/login/" method="post" class="signin-form">
            {% csrf_token %}
            {{msg}}
            <div class="">
                <div class = "">
                    <input type="text" name="email" id="w3lName" placeholder="enter the email" />
                </div>
                <br>
                <div class = "">
                    <input type="password" name="log_password" placeholder="password" class="contact-input">
                </div>
            </div>
            
            <div class="submit text-center">
                <button type="submit" class="btn btn-style">LogIn</button>
            </div>
            <br>
           <a href='/register/'><span>don't have an account? |register now</span></a> 
        </form>
    </div>
</center>
</body>

</html>