{% extends 'header_footer.html' %}
{% load static %}
{% block content %}


<div class="item">
    {% for i in blogs %}
    <div class="news-img">
        <a href="blog-single.html"><img src= "{{i.file.url}}"
                alt="news image"></a>
                
        <div class="title-wrap">
            <h4 class="title"><a href="blog-single.html">{{i.title}}</a></h4>
            <ul class="admin-list mt-2 mb-4">
                <li><a href="#blog"><i class="far fa-user"></i>{{i.username}}
                    </a></li>
                
                <li><a href="#blog"><i class="far fa-comment-dots"></i>Comments</a>
                </li>
            </ul>
            <p>{{i.description}}</p>
            
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}